* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-color: rgb(240, 240, 240);
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 300px 1fr;
  border: 2px solid rgb(170, 170, 170);
  overflow: hidden;
}

.panel {
  display: grid;
  grid-template-rows: auto 1fr;
  padding: 10px;
  gap: 10px;
  border-right: 3px solid rgb(170, 170, 170);
  background-color: rgb(221, 221, 221);
  overflow: hidden;
}

.clear-button {
  width: 100%;
  padding: 15px;
  font-size: 20px;
  border: 2px solid rgb(170, 170, 170);
  border-radius: 8px;
  cursor: pointer;
}

.palette {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.swatch {
  aspect-ratio: 1;
  border: 2px solid #555;
  border-radius: 4px;
  cursor: pointer;
}

.canvas {
  display: grid;
  grid-template-columns: repeat(50, 1fr);
  overflow: hidden;
}

.cell {
  aspect-ratio: 1;
  border: 0.5px solid rgb(221, 221, 221);
}